<%- include('./markup.ejs') %>
<div class="jumbotron">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.pexels.com/photos/2964163/pexels-photo-2964163.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Booking Title</h5>
                      <p class="card-text">Lorem ipsum</p>
                      <a href="/reserve:id" class="btn btn-dark">Reserve</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>